body{
    background-color: #f4f4f4;
    color:#555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin:0;
}

.clr{
    clear:both;
}

.container{
    width: 80%;
    margin:auto;
    overflow: hidden;
}

#main-header{
    background-color: #00274C; /*#dc143c*/
    color:#FFCB05;
}

#navbar{
    background-color: #333;
    color:#fff;
}

#navbar ul{
    padding:0;
    list-style: none;
}

#navbar li{
    display: inline;
    padding-right: 15px;
}

#navbar a{
    color:white;
    text-decoration: none;
    font-size: 20px;
}

#navbar a:hover{
    color: #FFCB05;
}

#main{
    float: left;
    padding: 10px 30px;
    width: 60%;
    box-sizing: border-box;
    font-size: 18px;
}

#sidebar{
    float: right;
    width: 40%;
    padding: 10px;
    box-sizing: border-box;
}

#main-footer{
    background-color: #333;
    color:#fff;
    text-align: center;
    padding: 25px;
}

#links{
    background-color: #333;
    color:#fff;
}

#links ul{
    padding-left: 80px;
    list-style: none;
}

#links li{
    display: inline;
    padding-right: 90px;
}

#links a{
    color:white;
    text-decoration: none;
    font-size: 20px;
}

#links a:hover{
    color: #FFCB05;
}

#project-1{
    float: left;
    width: 50%;
    padding: 10px 30px;
    box-sizing: border-box;
    font-size: 18px;
}

#project-2{
    float: right;
    width: 50%;
    padding: 10px 30px;
    box-sizing: border-box;
    font-size: 18px;
}

.my-form{
    padding: 20px;
}

.my-form .form-group{
    padding-bottom: 15px;
}

.my-form label{
    display:block;
}

.my-form input, .my-form textarea{
    padding:8px;
    width: 80%;
}

.button {
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    padding: 15px 25px;
    border:none;
    font-size: 20px;
}

.button:hover{
    background:red;
    color:rgb(255, 255, 255);
}

.error {
    background: orangered;
    color: #fff;
    padding: 10px;
    width: 175px;
}

@media(max-width:600px){
    #main{
        width:100%;
        float:none;
    }
    #sidebar{
        width:100%;
        float:none;
    }
}